<!-- <div class="cinema-info">
    <div class="cinema-header">
      <h2>Informações do cinema</h2>
    </div>
    <div class="cinema-body">
      <div class="cinema-row">
        <span>Nome do proprietário:</span>
        <span>{{cinema.ownerName}}</span>
      </div>
      <div class="cinema-row">
        <span>CPF:</span>
        <span>{{cinema.cpf}}</span>
      </div>
      <div class="cinema-row">
        <span>Nome do cinema:</span>
        <span>{{cinema.cinemaName}}</span>
      </div>
      <div class="cinema-row">
        <span>Rua:</span>
        <span>{{cinema.street}}</span>
      </div>
      <div *ngIf="cinema.description" class="cinema-row">
        <span>Descrição:</span>
        <p>{{cinema.description}}</p>
      </div>
      <button (click)="addStars(cinema.cinemaName)" class="star-btn">Tornar uma estrela!⭐</button>
    </div>
  </div>
  
<button (click)="closeDialog()">No Thanks</button> -->

<h1>{{txt}}</h1>
<button (click)="closeDialog()">No Thanks</button>