header {
    font-size: 30px;
    /* background-image: linear-gradient(to bottom, #fa6464, #fcd6d6); */
    background-color: #f8d2b0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
}

header h2{
    margin-left: 20px;
}

.link-logo{
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links li {
    font-size: 20px;
    font-weight: bold;
    margin-right:  40px;
    list-style: none;
} 

.links a {
    padding: 20px;
    text-decoration: none;
    transition: 0.4s;
    color: rgb(0, 0, 0);
}
.links a:hover{
    font-size: 21px;
    text-decoration: underline;
    color: #54473b;
  }