header {
    color: transparent;
    font-size: 55px;
    /* background-image: linear-gradient(to bottom, #fa6464, #fcd6d6); */
    background-color: #f69a9a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}



.links {
    display: flex;
    justify-content: center;
    align-items: center;

}

.links li {
    font-size: 20px;
    font-weight: bold;
    margin-right:  40px;
    list-style: none;
} 
a {
    text-decoration: none;
    color: black;
    transition: 0.4s;
}
a:hover{
    font-size: 22px;
    color: white;
  }