/* aplica a animação ao elemento */
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } 

  .container {
    animation: fade-in 1.5s ease-out;
    padding: 20px;
  }

  h2{
    border-bottom: 1px solid #f1a484;
    margin-bottom: 10px;
  }

  .p-wrapper{
    border: 2px solid #f1a484;
    padding: 20px;
    border-radius: 10px;
  }

/* Estilos para os títulos */
h1, h2 {
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 30px;
}

h2 {
  font-size: 22px;
  margin-top: 40px;
}

/* Estilos para as listas */
ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

/* Estilos para os links */
a {
  color: #f1a484;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}