<div>
  <h3>Confira aqui a lista de cinemas parceiros. </h3>
  <p>{{cinemaStar}}</p>
</div>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>Veja mais</th>
        <th>Lista de Cinemas</th>
        <th>Edite um cinema</th>
        <th>Delete um cinema</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cinema of cinemas" class="cinema-rows">
        <td>
          <button [routerLink]="['/cinemas', cinema.id]" class="details-btn">Detalhes</button>
        </td>
        <td>{{ cinema.cinemaName }}</td>
            <td>
              <button [routerLink]="['/cinemas/update', cinema.id]" class="update-btn">
                Atualizar
              </button>
            </td>
            <!-- databinding do tipo evento, da view para a lógica -->
            <td>
              <button (click)="delete(cinema.id!)" class="delete-btn">
                Remover
              </button>
            </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="details">
  <router-outlet></router-outlet>
</div>
