<div class="container">
    <div class="img-text">
        <h1>O maior conforto perto de você</h1>
        <img src="assets/cinema.jpg" alt="Imagem de fundo da página home">
        <p>Nós somos apaixonados por cinema e estamos felizes em recebê-lo em nosso espaço para uma experiência incrível. 
        Com nossas modernas instalações, tecnologia avançada e a seleção dos melhores filmes em exibição, estamos comprometidos em oferecer uma experiência cinematográfica inesquecível.</p>
    </div>
    <ng-image-slider [images]="images" [infinite]="true" 
    [imageSize]="{width: 600, height: 400}"></ng-image-slider>
</div>
