@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } 

.container{
    animation: fade-in 1s;
}


h1{
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-text p {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 65%;
    font-weight: 300;
}