@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; /* Inputs não ultrapassarem a largura */ 
  color: black;
}


/* FORMS: reaproveitados, por isso são estilizados no escopo global */

form{
  width: 450px;
  margin: 0 auto; /* Centralizando */
}

.form-answers {
  display: flex;
  flex-direction: column;
}