label{
    font-size: 20px;
}
.form-answer{
    margin-bottom: 20px;
}
input{
    height: 32px;
}

textarea{
    resize: none;
    margin-bottom: 20px;
}
input::placeholder {
    font-size: 20px; /* tamanho desejado para o placeholder */
}


