<form>
    <div class="form-answers">
        <label for="name">Nome do cinema: </label>
        <input id="name" type="text" placeholder="Informe o nome do cinema" required>
    </div>
    <div class="form-answers">
        <label for="street">Rua: </label>
        <input id="street" type="text" placeholder="Informe o local" required>
    </div>
    <div class="form-answers">
        <label for="">Número: </label>
        <input type="number" placeholder="Número" required>
    </div>
    <input type="submit" value="{{btnText}}" id="submit-button">
</form>
 