.form-wrapper {
    border: 2px solid #f1a484;
    padding: 20px;
    border-radius: 10px;
}


label{
    font-size: 20px;
}
.form-answer{
    margin-bottom: 20px;
}
input{
    height: 40px;
}


textarea{
    resize: none;
    margin-bottom: 20px;
}
input::placeholder {
    font-size: 20px; /* tamanho desejado para o placeholder */
}

.validation-error p {
    color: red;
}

.submit-button {
    height: 40px;
    width: 80px;
    font-size: 14pt;
    background-color: #f8d2b0;
    color: black;
    font-weight: 400;
    transition: 0.3s;
    border-radius: 10px;
}

.submit-button:hover {
    cursor: pointer;
    background-color:#f1a484;
}

.form-sucess p{
    margin-top: 8px;
    color: green;
}