@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } 

.form-wrapper {
    animation: fade-in 1s;
    border: 2px solid #f1a484;
    padding: 20px;
    border-radius: 10px;
}

p{
    animation: fade-in 1s;
}

label{
    font-size: 20px;
}
.form-answer{
    margin-bottom: 20px;
}
input{
    height: 40px;
}

textarea{
    resize: none;
}
input::placeholder {
    font-size: 20px;
}

.validation-error p {
    color: red;
}

.submit-button {
    margin-top: 20px;
    height: 40px;
    width: 80px;
    font-size: 14pt;
    background-color: #f8d2b0;
    color: black;
    font-weight: 400;
    transition: 0.3s;
    border-radius: 10px;
}

.submit-button:hover {
    cursor: pointer;
    background-color:#f1a484;
}

.form-sucess p{
    margin-top: 8px;
    color: green;
}