<!-- Diretiva ngSubmit -->
<!-- Diretiva: formGroup indica ao angular um grupo de formulario para ele monitorar -->
<!-- #formDir="ngForm" é uma sintaxepara criar referências locais para formulários e acessá-los. -->
<form (ngSubmit)="submit()" [formGroup]="cinemaForm" #formDir="ngForm" class="form-wrapper">

    <div class="form-answers">
        <label for="owner-name">Nome do proprietário: </label>
        <input id="owner-name" type="text" placeholder="Informe o nome do proprietário" 
        formControlName="ownerName" required>
    </div>
    <!-- Div de validação: Renderização condicional -->
    <div *ngIf="ownerName.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="ownerName.errors?.['required']">Nome obrigatório</p>
    </div>

    <div class="form-answers">
        <label for="cpf">CPF: </label>
        <input id="cpf" type="text" placeholder="Informe o CPF" 
        formControlName="cpf" required>
    </div>
    <div *ngIf="cpf.invalid && formDir.submitted" class="validation-error"><p *ngIf="cpf.errors?.['required']">CPF obrigatório</p></div>
    <div *ngIf="cpf.invalid && formDir.submitted" class="validation-error"><p *ngIf="cpf.errors?.['cpfInvalido']" > CPF inválido</p></div>

    <div class="form-answers">
        <label for="cinema-name">Nome do cinema: </label>
        <input id="cinema-name" type="text" placeholder="Informe o nome do cinema" 
        formControlName="cinemaName" required>
    </div>
    <div *ngIf="cinemaName.invalid && formDir.submitted" class="validation-error"><p *ngIf="cinemaName.errors?.['required']">Nome obrigatório</p></div>

    <div class="form-answers">
        <label for="street">Rua: </label>
        <input id="street" type="text" placeholder="Informe o local" 
        formControlName="street" required>
    </div>
    <div *ngIf="street.invalid && formDir.submitted" class="validation-error"><p *ngIf="street.errors?.['required']">Endereço obrigatório</p></div>

    <div class="form-answers">
        <label for="">Descrição: </label>
        <textarea type="textarea" formControlName="description"></textarea>
    </div>
    <input type="submit" value="{{btnText}}" class="submit-button" >
    <div *ngIf="formSucess" class="form-sucess"><p> Formulário enviado com sucesso!</p></div>
</form>
 